.MemeThumbnail {
    display:flex;
    height:90vh;
    overflow-y: auto;
    justify-content: space-evenly;
    padding-top: 15px;
    flex-wrap: wrap;
}
.MemeThumbnail>*{
    width:24vw;
    height: 24vh;
}
/* gestion de la meo des liens de memes */
.MemeThumbnail>*>svg{
    height: 100%;
    width: 100%;
}